<!DOCTYPE html>
<html>

<head>
    <title>Registrarse</title>
</head>

<body>
    <h1>Registrarse</h1>
    <form method="POST" action="/register">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>
        <br>
        <button type="submit">Register</button>
    </form>
    <a href="/login">Login</a>
</body>

</html>